body {
   width: 1074px;
   background-color: black;
   }

   .background {
     position: absolute;
     width: auto;
     opacity: 0.5;
   }

.indexPage {
  position: absolute;
  background-color: white;
  color: black;
  opacity: 1;
  width: 700px;
  height: auto;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 100px;
}

.secondPage {
  position: absolute;
  color: white;
  width: 1024px;
  height: auto;
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 100px;
}

.framed-element-A1 {
  /* Targets All Target Elements */
  position: absolute;
  background-color: rgba(47, 119, 106, 0.3);
  width: auto;
  height: auto;
  margin-top: 25px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.framed-element-A2 {
  /* Targets All Target Elements */
  position: absolute;
  background-color: rgba(47, 119, 106, 0.3);
  width: auto;
  height: auto;
  margin-top: 500px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.framed-element-A3 {
  /* Targets All Target Elements */
  position: absolute;
  background-color: rgba(47, 119, 106, 0.3);
  width: auto;
  height: auto;
  margin-top: 75px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.framed-element-A4 {
  /* Targets All Target Elements */
  position: absolute;
  background-color: rgba(47, 119, 106, 0.3);
  width: auto;
  height: auto;
  margin-top: 75px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.framed-element-A5 {
  /* Targets All Target Elements */
  position: absolute;
  background-color: rgba(47, 119, 106, 0.3);
  width: auto;
  height: auto;
  margin-top: 75px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.framed-element-A6 {
  /* Targets All Target Elements */
  position: absolute;
  background-color: rgba(47, 119, 106, 0.3);
  width: auto;
  height: auto;
  margin-top: 75px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.framed-element-A7 {
  /* Targets All Target Elements */
  position: absolute;
  background-color: rgba(47, 119, 106, 0.3);
  width: auto;
  height: auto;
  margin-top: 75px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.framed-element-A8 {
  /* Targets All Target Elements */
  position: absolute;
  background-color: rgba(47, 119, 106, 0.3);
  width: auto;
  height: auto;
  margin-top: 75px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.framed-element-A9 {
  /* Targets All Target Elements */
  position: absolute;
  background-color: rgba(47, 119, 106, 0.3);
  width: auto;
  height: auto;
  margin-top: 75px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.framed-element-A10 {
  /* Targets All Target Elements */
  position: absolute;
  background-color: rgba(47, 119, 106, 0.3);
  width: auto;
  height: auto;
  margin-top: 75px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.framed-element-A11 {
  /* Targets All Target Elements */
  position: absolute;
  background-color: rgba(47, 119, 106, 0.3);
  width: auto;
  height: auto;
  margin-top: 75px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.framed-element-A12 {
  /* Targets All Target Elements */
  position: absolute;
  background-color: rgba(47, 119, 106, 0.3);
  width: auto;
  height: auto;
  margin-top: 75px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.framed-element-A13 {
  /* Targets All Target Elements */
  position: absolute;
  background-color: rgba(47, 119, 106, 0.3);
  width: auto;
  height: auto;
  margin-top: 75px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

#specificLink{
        color:orange;
        font-family: Arial, Helvetica, sans-serif;
    }

#specificColor{
        color: orange;
	font-family: Arial, Helvetica, sans-serif;
    }

#shortstoryColor{
        color: white;
	font-family: Arial, Helvetica, sans-serif;
        }
